<div class="header">
  <h2 class="header__title">Your cart</h2>
</div>

<div class="order">
  <div class="product">
    <div class="product__info">
      <div class="product__title">Classic Tiramisu</div>
      <div class="product__order">
        <div class="product__count">1х</div>
        <div class="product__price">@ $5.50</div>
        <div class="product__total">$5.50</div>
      </div>
    </div>
    <div class="product__action">
      <button>
        <svg-loader-component
          src="./assets/images/icons/icon-remove-item.svg"
        ></svg-loader-component>
      </button>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer__description">Order Total</div>
  <div class="footer__total">$5.50</div>
</div>
